body{
    font-family: 'Abril Fatface','Raleway','Fontin' sans-serif;
    background: #1F0000;
    background: -webkit-radial-gradient(#6F4E37, #1F0000 90%, #1F0000 20%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6F4E37, #1F0000 90%, #1F0000 20%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#6F4E37, #1F0000 90%, #1F0000 20%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#6F4E37, #1F0000 90%, #1F0000 20%); /* Standard syntax */
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    color: aliceblue;
    font-size: 64px;
}
.margin{
    margin-left: 5%;
}
h2{
    color: #C68E17;
    font-size: 24px;
    font-family: 'Raleway','Abril Fatface','Fontin' sans-serif;
}
h3{
    color: aliceblue;
}
h4{
    color:#C68E17;
    font-size: 22px;
}

.middle{
    padding: 20px;
    border-radius: 25px;
    border: 2px solid aliceblue;
    height: 100%;
}
.first{
    margin-left:2.5%;
    width:34%;
    border-radius: 25px;
    border: 2px solid aliceblue;
    display:inline-block;
    height: 440px;
}
.second{
    margin-left:2.5%;
    width:34%;
    border-radius: 25px;
    border: 2px solid aliceblue;
    display:inline-block;
    height: 440px;
}
.third{
    border-radius: 25px;
    margin-left:2.5%;
    width:20%;
    margin-right:2.5%;
    border: 2px solid aliceblue;
    display:inline-block;
    height: 440px;
     overflow:hidden;
}
ul{
    list-style-type:square;
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.items{
    text-align: center;
}

.margin{
    margin-left: 5%;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
   from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.image{
    width:100%;
    height: 100%;
}

/*fading in of the sections of the page*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}
.button{
    width:14%;
    border-radius: 25px;
    height: 90px;
    margin-top: -10%;
    margin-left: 93%;
    text-align: center;
    font-size: 28px;
    font-weight:100;
    animation:blur .75s ease-out infinite;
    text-shadow:0px 0px 5px aliceblue,0px 0px 7px aliceblue;
}
@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}
a {
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
ul li{
 display: inline-block;
 position: relative;
 line-height: 21px;
 text-align: left;
    }
ul li a{
    
    display: block;
    padding: 8px 25px;
    color: #C68E17;;
    text-decoration: none;
}
ul li a:hover{
    color: aliceblue;
    background: #C68E17;
}